<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Do List app</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="p-0">
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                <a class="navbar-brand" href="/">To Do List app</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-5 d-flex flex-column flex-lg-row justify-content-center align-items-center space-y-5 lg-space-y-0 space-x-3 2xl-space-x-0">
        <div class="w-100 d-flex flex-column align-items-center justify-content-center lg:px-2 xl:px-0 text-center">
            <p class="display-1 font-weight-bold text-gray-300">{{ status }}</p>
            <p class="display-4 font-weight-bold text-gray-300 mt-2">{{ message }}</p>
            <p class="lead text-gray-500 my-4">{{ details }}</p>
            <a href="{{ path('homepage') }}" class="btn btn-primary" title="Return Home">
                <span class="ml-2">Retour à la page d'accueil</span>
            </a>
        </div>
    </div>
</body>
</html>